body {
  overflow-x: hidden;
  margin: 0;
  font-family: monospace;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  width: 100vw;
  height: 800vw;
  z-index: 2;
  position: relative;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  font-size: 5vh;
}

section {
  min-height: 100vh;
  padding: 20px;
  font-size: 4vh;
}

#scrollProgress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  font-size: 3vh;
}

button {
  z-index: 3;
  pointer-events: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  color : black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  height: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#section_8 > div {
  margin-top: 75vh;
}

#section_1 {
  margin-top: 20vh;
}

.btn-3d {
  position: relative;
  display: inline-block;
  font-weight: normal;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px;
  transition: all 0.2s ease;
}

.btn-3d:active {
  box-shadow: 0 2px;
  transform: translateY(3px);
}

.btn-3d-recommend {
  padding: 7px 10px;
  font-size: 1rem;
  color: black;
  background: #ffffff;
  box-shadow: 0 5px #236c65;
}

.btn-3d-recommend:active {
  box-shadow: 0 2px #236c65;
  transform: translateY(3px);
}
